{{!< default}}
<main class="content contentpost {{#foreach tags}}{{#if @first}}{{encode name}}{{/if}}{{/foreach}}" role="main">
    <article class="contentpost_inner {{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        {{#post}}
        {{#if tags}}<span class="contentpost_meta">{{tags separator=" · "}}</span>{{/if}}
        <h1 class="contentpost_headline post-title" itemprop="url" data-pjax title="{{{title}}}">{{{title}}}</h1>
        <section class="contentpost_articlecontent post-content">
            {{content}}
        </section>
        <footer class="contentpost_footer post-footer">
            <section class="share">
                <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter"><i class="fa fa-twitter fa-lg share_symbol twitter_symbol"></i></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook"><i class="fa fa-facebook fa-lg share_symbol facebook_symbol"></i></a>
                <a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share on Google+"><i class="fa fa-google-plus fa-lg share_symbol google-plus_symbol"></i></a>
            </section>
            <div class="contentpost_footerbar">
                <section class="contentpost_sidebar_meta clearfix">
                    <h5>Published:</h5><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
                </section>
            </div>
        </footer>
        {{/post}}
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    var disqus_shortname = ''; // required: replace example with your forum shortname
	    var disqus_identifier = '{{post.id}}';
	 
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </article>
</main>